@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .slide-ins {
    animation: slideMe .7s ease-in;
  }
  
  @keyframes slideMe{
      0%{
          transform: translateX(500px);
          opacity: 1;
      }
      60%{
          transform: translateX(0px);
      }
      62%{
          transform: translateX(30px);
      }
      70%{
          opacity: 1;
      }
      80%{
          transform: translate(0);
      }
      90%{
      }
      100%{
          transform: skew(0deg);
      }
  }